<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    <bean id="person" class="top.xiaorang.spring.basic.Person" p:name="小让" p:age="10"/>-->
    <bean id="person" class="top.xiaorang.spring.basic.Person" init-method="myInit" destroy-method="myDestroy">
        <!--        <constructor-arg name="name" value="小让"/>-->
        <!--        <constructor-arg name="age" value="10"/>-->
        <property name="name" value="小让"/>
        <property name="age" value="10"/>
    </bean>

    <bean id="customer" class="top.xiaorang.spring.basic.Customer" p:name="小明" p:age="18">
        <property name="emails">
            <array>
                <value>15019474951@163.com</value>
                <value>623052545@qq.com</value>
                <value>2329862718@qq.com</value>
            </array>
        </property>
        <property name="tels">
            <set>
                <value>15019474951</value>
                <value>13838384388</value>
                <value>18274831189</value>
            </set>
        </property>
        <property name="addresses">
            <list>
                <value>珠光村东区91栋413</value>
                <value>龙胜一小队xxx栋605</value>
            </list>
        </property>
        <property name="qqs">
            <map>
                <entry>
                    <key>
                        <value>xiaorang</value>
                    </key>
                    <value>2329862718</value>
                </entry>
                <entry key="sanshi" value="623052545"/>
            </map>
        </property>
        <property name="p">
            <props>
                <prop key="birthday">1995-07-13</prop>
                <prop key="high">168</prop>
            </props>
        </property>
    </bean>

    <bean id="userDao" class="top.xiaorang.spring.basic.UserDaoImpl"/>

    <bean id="userService" class="top.xiaorang.spring.basic.UserServiceImpl" p:userDao-ref="userDao"/>

    <!--    <bean id="connection" class="top.xiaorang.spring.factorybean.ConnectionFactoryBean">-->
    <!--        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>-->
    <!--        <property name="url"-->
    <!--                  value="jdbc:mysql://localhost:3306/atguigudb?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=Asia/Shanghai"/>-->
    <!--        <property name="username" value="root"/>-->
    <!--        <property name="password" value=""/>-->
    <!--    </bean>-->
    <!--    <bean id="connectionFactory" class="top.xiaorang.spring.factory.ConnectionFactory">-->
    <!--        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>-->
    <!--        <property name="url"-->
    <!--                  value="jdbc:mysql://localhost:3306/atguigudb?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=Asia/Shanghai"/>-->
    <!--        <property name="username" value="root"/>-->
    <!--        <property name="password" value=""/>-->
    <!--    </bean>-->
    <!--    <bean id="connection" factory-bean="connectionFactory" factory-method="getConnection"/>-->
    <bean id="connection" class="top.xiaorang.spring.staticfactory.StaticConnectionFactory"
          factory-method="getConnection"/>
</beans>